@import './../../variables';

.cartView{
    display: grid;
    grid-template-areas: "h2 h2" "lista prices";
    grid-template-columns: 4fr 2fr;
    padding: 10px;
    padding-bottom: 65vh;
    h2{
        grid-area: h2;
    }
    
    .list{
        grid-area: lista;
        .carritoVacio{
            margin-top: 100px;
            font-size: 30px;
            text-align: center;
        }
        .cartItem{        
            border-radius: 20px;
            margin: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            .imgName{
                display: flex;
                img{
                    height: 80px;
                    border-radius: 10px;
                }
                h3{
                    width: 30vw;
                    margin: auto 0;
                }
            }
            .priceItem{
                font-weight: 700;
                font-size: 20px;
                margin-right: 10px;
            }
            &.light{
                background-color: $colorBlanco;
            }
            &.dark{
                background-color: $colorNegro;
            }
        }
    }
    
    .priceOverview{
        grid-area: prices;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
        max-height: 500px;
        position: sticky;
        top: 20px;
        h4{
            font-size: 20px;
            margin: 5px 0;
            text-align: center;
        }
        .flexPrice{
            display: flex;
            justify-content: space-between;
            margin: 5px 10px;
            
        }
        button{
            margin: 10px;
        }
        p{
            font-weight: 600;
        }
        .totalPrice{
            text-align: center;
            font-size: 18px;
            span{
                font-size: 20px;
            }
        }
        &.light{
            background-color: $colorBlanco;
        }
        &.dark{
            background-color: $colorNegro;
        }
    }
    &.light{
        background-color: $colorBlancoFondo;
        h4,h3,h2,.price,.priceItem,.totalPrice{
            color: $colorNegroFondo;
        }
    }
    &.dark{
        background-color: $colorNegroFondo;
        h4,h3,h2,.price,.priceItem,.totalPrice{
            color: $colorBlanco;
        }
    }

}

/* Para vista en celular y tablet */

@media only screen and (max-width: 970px) {

    .cartView{
        display: flex;
        flex-direction: column;
    }

}

@media only screen and (max-width: 640px) {

    .cartView{
        .list{
            .cartItem{
                &.light,&.dark{
                    flex-direction: column;
                    .imgName{
                        justify-content: flex-start;
                        img{
                            height: 100px;
                        }
                        h3{
                            width: auto;
                        }
                    }
                    .cartItemQuantity{
                        margin-top: 10px;
                    }
                    .priceItem{
                        font-size: 30px;
                        margin-top: 10px;
                    }
                }
            }
        }
    }

}