@import '../../variables';

header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    a{
        text-decoration: none;
    }
    &.headerLight{
        background-color: $colorBlancoFondo;
    }
    &.headerDark{
        background-color: $colorNegroFondo;
    }
    img{
        height: 30px;
    }
    .logoHeader{
        display: flex;
        align-items: center;
        .logo{
            height: 40px;
            margin-right: 5px;
        }
        h1{
            font-size: 30px;
            font-weight: 700;
            font-style: italic;
            span{
                font-weight: 300;
            }
        }
        &.light{
            h1{
                color: $colorNegroFondo;
                span{
                    color: $colorNegroFondo;
                }
            }
        }
        &.dark{
            h1{
                color: $colorBlancoFondo;
                span{
                    color: $colorBlancoFondo;
                }
            }
        }
        
    }
    .darkModeSwitch{
        display: flex;
        align-items: center;
    }
    .cartWidget{
        margin: auto 0;
        position: relative;
        cursor: pointer;
        div{
            position: absolute;
            top: 0;
            right: 0;
            background-color: $colorRosa;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            text-align: center;
            color: $colorBlancoFondo;
            font-weight: 700;
            padding: 1px;
        }
        .carrito{
            height: 40px;
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 29px;
    margin: 0 10px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.sliderMode {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    &:before{
        position: absolute;
        content: "";
        height: 25px;
        width: 25px;
        left: 3px;
        bottom: 2px;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }
    &.light{
        background-color: $colorNegroFondo;
        &:before{
            background-color: $colorBlancoFondo;
        }
    }
    &.dark{
        background-color: $colorBlancoFondo;
        &:before{
            background-color: $colorNegroFondo;
        }
    }
}
  
input:checked + .sliderMode:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(29px);
}

/* Para vista en tablet */

@media only screen and (min-width: 600px) and (max-width: 960px) {

}

/* Para vista en celular */

@media only screen and (max-width: 600px) {
    
    header{
        display: grid;
        grid-template-areas: "logo cart" "mode mode";
        .logoHeader{
            grid-area: logo;
            h1{
                font-size: 20px;
            }
            .logo{
                height: 30px;
                margin-right: 5px;
            }
        }
        .cartWidget{
            grid-area: cart;
            div{
                position: absolute;
                top: 0;
                right: 0;
                background-color: $colorRosa;
                border-radius: 50%;
                height: 15px;
                width: 15px;
                font-size: 13px;
                text-align: center;
                color: $colorBlancoFondo;
                font-weight: 700;
                padding: 1px;
            }
            .carrito{
                height: 30px;
            }
        }
        .darkModeSwitch{
            grid-area: mode;
            margin: 0 auto;
        }
    }

}