@import './../../variables';

.Filters{
    background-color: $colorBlanco;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    display: flex;
    flex-direction: column;
    &.light{
        background-color: $colorBlanco;
        h4,p{
            color: $colorNegroFondo;
        }
        .slider{
            background-color: $colorBlanco;   
        }
    }
    &.dark{
        background-color: $colorNegro;
        h4,p{
            color: $colorBlancoFondo;
        }
        .slider{
            background-color: $colorNegro;   
        }
    }
    h4{
        text-align: center;
        font-size: 20px;
        margin: 5px 0;
    }
}

/* Para vista en celular */

@media only screen and (max-width: 600px) {

    .Filters{
        margin: 20px;
    }

}