$colorBlancoFondo: #EDF0DA;
$colorBlanco: #fff;
$colorNegroFondo: #2A2B2A;
$colorNegroFondo2: #373837;
$colorLetraDescription: #2a2b2aa8;
$colorNegro: #000;
$colorGris: #73877bb0;
$colorGrisSuave: #b0c4b8b0;
$colorAzul: #489FB5;
$colorRosa: #EA526F;
$colorBlancoFondoSuave: #edf0dab6;
$tipografia: 'Lato', sans-serif;
